/* General Styles */
@font-face {
    font-family: 'BDSupper';
    src: url('/static/fonts/BDSupper.ttf') format('truetype'); /* Adjust the path if needed */
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'BDSupper', sans-serif;
    letter-spacing: 1.5px;
    line-height: 1.6;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/background.jpg") no-repeat center center fixed;
    background-size: cover;
    color: #e0e0e0;
    position: relative; /* Ensure the body element is positioned for overlay */
}

h1 {
    font-size: 100px;
    text-align: center;
}

/* Navigation bar styles */
nav {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    padding: 10px;
    text-align: center;
    position: fixed; /* Keep the navbar fixed at the top */
    top: 0;
    left: 0;
    z-index: 10; /* Ensure it stays above other elements */
}

.searchbar {
    margin-left: 1.5vh;
    padding: 13px;
    text-align: right;
    position: fixed;
    top: 0;
    right: 0;
}

.customCheckBoxHolder {
    display: flex;
}

.customCheckBox {
    padding: 10px 20px;
    margin: 0 5px;
    background-color: rgba(0, 0, 0, 0.16);
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    border-radius: 5px;
}

.customCheckBox:hover {
    background-color: #2c2c2c;
    color: white;
}

.customCheckBox .inner {
    font-size: 18px;
    font-weight: 900;
    pointer-events: none;
    transition: transform 300ms;
}

.customCheckBox:hover .inner {
    transform: translateY(-2px);
}

.customCheckBox.active {
    background-color: #34723f; /* Highlight color for the active button */
    color: white;
}

/* Header styling */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 60px; /* Add space for the navbar */
    position: relative;
    z-index: 2; /* Ensure it sits above the gradient overlay */
}

header h1 {
    font-size: 6rem; /* Adjust size to your liking */
    color: #ffffff;
    margin: 0;
    padding: 0;
    padding-top: 200px;
}

/* Search bar */
.search-container {
    margin-left: auto;
    padding-right: 20px;
}

input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

/* Other Elements */
.content {
    padding: 50px 20px;
    background: #1e1e1e;
    position: relative; /* Ensure content appears above the gradient */
    z-index: 2; /* Ensure content is above the gradient overlay */
}

.container {
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

footer {
    color: #ffffff;
    text-align: center;
    padding: 10px;
    margin-top: 100px;
}

footer p {
    margin: 0;
    font-size: 15px;
}

img {
    display: flex;
    text-align: center;
    margin: auto;
    border-radius: 5px;
    justify-content: center;
    width: 350px;
    height: 350px;
    margin-bottom: 100px;
}

button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #333333; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 200px;
}

button:hover {
    background-color: #5584ff;
}

ul {
    list-style: none;
}

ul li {
    background: rgba(0, 0, 0, 0.9); 
    margin: 5px 0;
    padding: 20px;
    border-radius: 5px;
}

ul li a {
    text-decoration: none;
    color: #ffffff;
}

ul li a:hover {
    color: #5584ff;
}

.customCheckBoxWrapper.active .customCheckBox {
    background-color: #34723f;
    color: white;
}

nav a.active {
    font-weight: bold;
    color: #34723f;
}

h3 {
    padding-left: 300px;
    padding-right: 300px;
    font-size: large;
    padding: 200px;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
}


/* General reset for margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Include padding and border in width/height calculations */
}

html, body {
    width: 100%; /* Ensure body takes the full width */
    height: 100%;
}

body {
    position: relative; /* To make sure content is positioned properly */
    padding-top: 60px; /* Make room for the navbar */
}

.user-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Creates 3 columns of equal width */
    gap: 20px; /* Space between grid items */
    padding: 20px; /* Padding around the grid */
    margin: 0 auto; /* Center the grid */
    margin-top: 50px; /* Reduced margin to ensure the heading is visible */
}

/* User Card */
.user-card {
    background-color: rgba(0, 0, 0, 0.9); /* Dark background */
    border: 1px solid #8310b5; /* Darker border color */
    border-radius: 5px; /* Rounded corners */
    padding: 30px; /* Padding inside each card */
    text-align: center; /* Center align text */
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px; /* Minimum height for the card */
    color: #ffffff; /* Text color inside the cards */
    z-index: 2000;
}

.user-card a {
    color: #ffffff; /* White text for links */
    text-decoration: none; /* Remove underline */
}

.user-card a:hover {
    color: #dadee8; /* Change text color on hover */
}

/*Add hover effect */
.user-card:hover {
    background: #525077; /* Darker shade on hover */
    
}

.fruit-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Creates 3 columns of equal width */
    gap: 20px; /* Space between grid items */
    padding: 20px; /* Padding around the grid */
    margin: 0 auto; /* Center the grid */
    margin-top: 50px; /* Reduced margin to ensure the heading is visible */
}

/* User Card */
.fruit-card {
    background-color: rgba(0, 0, 0, 0.9); /* Dark background */
    border: 1px solid #8310b5; /* Darker border color */
    border-radius: 5px; /* Rounded corners */
    padding: 30px; /* Padding inside each card */
    text-align: center; /* Center align text */
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px; /* Minimum height for the card */
    color: #ffffff; /* Text color inside the cards */
}

.fruit-card a {
    color: #ffffff; /* White text for links */
    text-decoration: none; /* Remove underline */
}

.fruit-card a:hover {
    color: #dadee8; /* Change text color on hover */
}

/*Add hover effect */
.fruit-card:hover {
    background: #525077; /* Darker shade on hover */
}

.category-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Creates 3 columns of equal width */
    gap: 20px; /* Space between grid items */
    padding: 20px; /* Padding around the grid */
    margin: 0 auto; /* Center the grid */
    margin-top: 25px; /* Reduced margin to ensure the heading is visible */
    padding-left: 330px;
    padding-bottom: 250px;
}

/* User Card */
.category-card {
    background-color: rgba(0, 0, 0, 0.9); /* Dark background */
    border: 1px solid #8310b5; /* Darker border color */
    border-radius: 5px; /* Rounded corners */
    padding: 30px; /* Padding inside each card */
    text-align: center; /* Center align text */
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px; /* Minimum height for the card */
    color: #ffffff; /* Text color inside the cards */
    z-index: 2000;
}

.category-card a {
    color: #ffffff; /* White text for links */
    text-decoration: none; /* Remove underline */
}

.category-card a:hover {
    color: #dadee8; /* Change text color on hover */
}

/* Optional: Add hover effect */
.category-card:hover {
    background: #525077; /* Darker shade on hover */
}

.button {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 18px;
    color: rgb(193, 163, 98);
    border: 2px solid rgb(193, 163, 98);
    border-radius: 34px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
  }
  
  .button::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: rgb(193, 163, 98);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .button:hover::before {
    scale: 3;
  }
  
  .button:hover {
    color: #212121;
    scale: 1.1;
    box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
  }
  
  .button:active {
    scale: 1;
  }
  
/* Center the title and button */
.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Adjust margin or padding if needed to separate the button from the title */
.title-container h1 {
    margin-bottom: 3px; /* Space between the title and the button */
}

.button {
    padding: 15px 30px; /* Increase padding to make the button larger */
    font-family: 'BDSupper', sans-serif;
    letter-spacing: 0.5px;
    font-size: 20px;     /* Increase the font size */
    border: 3px solid rgb(141, 104, 61); /* Increase the border thickness */
    color: #34723f;
    background-color: rgba(0, 0, 0, 0.9); /* Semi-transparent background */
}

/* General reset for margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Include padding and border in width/height calculations */
}

h5{
    padding-top: 300px;
    margin-top: 4em;
    font-size: 100px;
}

.categories h1 {
    padding-top: 3000px;
}

h6 {
    font-size: 100px;
    text-align: center;
    padding-top: 100px;
}

h4 {
    padding-left: 300px;
    padding-right: 300px;
    font-size: 20px;
    padding: 200px;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
}

h7 {
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.9);
    border: 1px solid #8310b5; /* Darker border color */
    border-radius: 5px; /* Rounded corners */
    justify-content: center;
    padding: 20px;
    display: flex;
    margin-left: 650px;
    margin-right: 650px;
    text-align: center;
}

.user-img {  
    align-content: center;
}


h8 {
    font-size: 5rem; /* Adjust size to your liking */
    color: #ffffff;
    text-align: center;
}

.user {
    background-color: rgba(0, 0, 0, 0.9);
    padding-bottom: 120px;
    padding-top: 80px;
}

.about-page {
    padding-left: 300px;
    padding-right: 300px;
}

.about-page p {
    padding-bottom: 200px;
    font-size: 30px;
    padding-top: 30px;
}

.about-page h2 {
    padding: 50px;
}

h9 {
    padding-left: 300px;
    padding-right: 300px;
    font-size: 50px;
    padding-top: 260px;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    display: flex;
    justify-content: center;
}

h10 {
    font-size: 50px;
    text-align: center;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

.searchresult {
    display: flex;
    justify-content: center;
    font-size: 3em;
    padding-top: 50px;
    
}