<!doctype html>
<html>
<head>
    <title>My Site</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<header>
    
    <nav>
        <div class="customCheckBoxHolder">
            <a class="customCheckBox {{ 'active' if active_page == 'home' else '' }}" href="/" id="homeBtn">
                <div class="inner">Home</div>
            </a>
            <a class="customCheckBox {{ 'active' if active_page == 'users' else '' }}" href="/users" id="usersBtn">
                <div class="inner">Users</div>
            </a>
            <a class="customCheckBox {{ 'active' if active_page == 'categories' else '' }}" href="/categories" id="categoriesBtn">
                <div class="inner">Categories</div>
            </a>
            <a class="customCheckBox {{ 'active' if active_page == 'about' else '' }}" href="/about" id="aboutBtn">
                <div class="inner">About</div>
            </a>
        </div>
        <div class="searchbar">
            <form action="{{ url_for('search') }}" method="get">
                <input type="text" name="query" placeholder="Search for a fruit" required>
                <button type="submit">Submit</button>
            </form>
        </div>
        <!-- Categories generated dynamically -->
        {% if nav_categories %}
            {% for category in nav_categories %}
                <a class="{{ 'active' if active_page == 'category_' ~ category.category_id else '' }}" href="/category/{{ category.category_id }}">
                    {{ category.name }}
                </a>
            {% endfor %}
        {% endif %}
    </nav>
    {% block title_button %}{% endblock %}
</header>
<main>
    {% block content %}{% endblock %}
</main>
<footer>
    <p>Based on One Piece and Blox Fruits</p>
</footer>
</body>
</html>
